nav{
    background-color:#1c2331;
}

.navbar-brand{
    color:white;
}

.btn{
    background-color: #FFD829;
}
.carousel-item {
    height: 700px;
    
}
.navbar a {
    text-decoration: none;
    color:black;
  }


