nav{
    background-color:#1c2331;
}

.navbar-brand{
    color:white;
}

.btn{
    background-color: #FFD829;
}

.navbar a {
    text-decoration: none;
    color:black;
  }
.frogdog {

    width: 600px;
}

.padding{
    padding: 30px;
}

.carousel-item {
    height: 900px;
    top: 53%;
    width: 1400px;
    padding-top: 20px;
    padding-left: 30px;
    
    
}
.aboutuspic{
    padding-left:100px;
    padding-top: 20px;
}
.aboutustext{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 300px;
}
.whoarewe{
    padding-top: 20px;
    padding-left: 90px;
}

.gallery{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.services1{
    padding-top:20px;
    padding-bottom: 20px;
}
.services2{
    padding-top:20px;
    padding-bottom: 20px;
}

body{
    font-family: "Verdana";
}