nav{
    background-color:#1c2331;
}

.navbar-brand{
    color:white;
}

.btn{
    background-color: #FFD829;
}

.navbar a {
    text-decoration: none;
    color:black;
  }

.frogdog {
    width: 600px;
}

.jobpic{
    padding-top: 30px;
    width: 350px;
    padding-left:50px;

}

.carousel-item{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


.aboutuspic{
    padding-left:100px;
    padding-top: 20px;
}
.aboutustext{
    padding-top: 50px;
    padding-left: 170px;
    padding-right: 300px;
    text-align: center;
}
.whoarewe{
    margin-left: 130px;
    text-align: center;
}

.gallery{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.services1{
    padding-top:20px;
    padding-bottom: 20px;
}
.services2{
    padding-top:20px;
    padding-bottom: 20px;
}

body{
    font-family: "Verdana";
}

.indexphoto{
    width: 00px;
    padding-top: 40px;
}
.index-text1{
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 40px;
}
.index-text2{
    text-align: left;
    padding-right: 50px;
    padding-top: 50px;
    padding-left: 50px;
}

.btnborder{
    border-color:#1c2331;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 16px;
    margin-left: 10px;
  }
    
  .btn-lg {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }
  @media screen and (max-width: 770px) {
    .btn {
      margin-bottom: 10px;
    }
  }
  .products-info{
      font-style: italic;
      background-color: #FFD829;
      

  }
  .index-title{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 60px;
    
  }
  
  .job-page{
      padding-top:20px;
      
  }
  .services-list{
      padding-top: 10px;
      align-content: center;
      font-weight: bold;
  }

  .gallery img{
    height: 250px;
  }
  .img-1{
      width: 400px;
      padding-top: 20px;
  }
  .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-top: -6px;
}

.logo{
    width: 400px;
    margin-left: 400px;
}

